#!/usr/bin/env bash

# {{ ansible_managed }}

set -euo pipefail
IFS=$'\n'

A2QUERY="{{ apache_a2query }}"

if [[ -f "${A2QUERY}" ]]; then
  jo state=present version=$(${A2QUERY} -v) mpm=$(${A2QUERY} -M) \
     conf_enabled=$(${A2QUERY} -c | awk '{ print $1 }' | sort | jo -a) \
     modules_enabled=$(${A2QUERY} -m | awk '{ print $1 }' | sort | jo -a) \
     sites_enabled=$(${A2QUERY} -s | awk '{ print $1 }' | sort | jo -a)
else
  jo state=absent
fi
