# {{ ansible_managed }}

{% if apache_pkg_available_sury != [] %}
# Packages available from packages.sury.org for {{ ansible_facts.distribution_release }}

{%     for apache_pkg in apache_pkg_available_sury %}
Package: {{ apache_pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% else %}
# No packages from packages.sury.org are available for {{ ansible_facts.distribution_release }}

{% endif %}
# vim: ft=debsources{# vim: syntax=jinja2 #}
