# {{ ansible_managed }}
# Expires Strict
<IfModule expires_module>
  <IfModule mod_expires.c>
    # Based on the list here
    # https://w3reign.com/list-common-file-types-mime-types-expire-headers/
    ExpiresActive on
    ExpiresDefault                                    "access plus 1 month"
    # DATA
    ExpiresByType application/atom+xml                "access plus 1 hour"
    ExpiresByType application/json                    "access plus 1 hour"
    ExpiresByType application/rss+xml                 "access plus 1 hour"
    ExpiresByType application/xml                     "access plus 1 hour"
    ExpiresByType text/html                           "access plus 1 hour"
    ExpiresByType text/plain                          "access plus 1 hour"
    ExpiresByType text/x-component                    "access plus 1 hour"
    ExpiresByType text/xml                            "access plus 1 hour"
    # MANIFEST
    ExpiresByType application/x-web-app-manifest+json "access plus 1 hour"
    ExpiresByType text/cache-manifest                 "access plus 1 hour"
    # SCRIPTS
    ExpiresByType application/ecmascript              "access plus 1 month"
    ExpiresByType application/javascript              "access plus 1 month"
    ExpiresByType application/x-javascript            "access plus 1 month"
    ExpiresByType text/css                            "access plus 1 month"
    ExpiresByType text/javascript                     "access plus 1 month"
    # IMAGES
    ExpiresByType image/bmp                           "access plus 6 months"
    ExpiresByType image/gif                           "access plus 6 months"
    ExpiresByType image/jp2                           "access plus 6 months"
    ExpiresByType image/jpe                           "access plus 6 months"
    ExpiresByType image/jpeg                          "access plus 6 months"
    ExpiresByType image/jpg                           "access plus 6 months"
    ExpiresByType image/pipeg                         "access plus 6 months"
    ExpiresByType image/png                           "access plus 6 months"
    ExpiresByType image/svg+xml                       "access plus 6 months"
    ExpiresByType image/tiff                          "access plus 6 months"
    ExpiresByType image/vnd.microsoft.icon            "access plus 6 months"
    # ICONS
    ExpiresByType application/ico                     "access plus 6 months"
    ExpiresByType image/ico                           "access plus 6 months"
    ExpiresByType image/icon                          "access plus 6 months"
    ExpiresByType image/x-ico                         "access plus 6 months"
    ExpiresByType image/x-icon                        "access plus 6 months"
    ExpiresByType text/ico                            "access plus 6 months"
    # AUDIO
    ExpiresByType audio/ogg                           "access plus 6 months"
    ExpiresByType audio/basic                         "access plus 6 months"
    ExpiresByType audio/mid                           "access plus 6 months"
    ExpiresByType audio/midi                          "access plus 6 months"
    ExpiresByType audio/mpeg                          "access plus 6 months"
    ExpiresByType audio/x-aiff                        "access plus 6 months"
    ExpiresByType audio/x-mpegurl                     "access plus 6 months"
    ExpiresByType audio/x-pn-realaudio                "access plus 6 months"
    ExpiresByType audio/x-wav                         "access plus 6 months"
    # VIDEO
    ExpiresByType video/ogg                           "access plus 6 months"
    ExpiresByType video/mp4                           "access plus 6 months"
    ExpiresByType video/webm                          "access plus 6 months"
    ExpiresByType video/x-msvideo                     "access plus 6 months"
    ExpiresByType video/mpeg                          "access plus 6 months"
    ExpiresByType video/quicktime                     "access plus 6 months"
    ExpiresByType video/x-la-asf                      "access plus 6 months"
    ExpiresByType video/x-ms-asf                      "access plus 6 months"
    ExpiresByType x-world/x-vrml                      "access plus 6 months"
    # FONTS
    ExpiresByType application/font-woff               "access plus 6 months"
    ExpiresByType application/vnd.ms-fontobject       "access plus 6 months"
    ExpiresByType application/x-font-ttf              "access plus 6 months"
    ExpiresByType application/x-font-woff             "access plus 6 months"
    ExpiresByType font/opentype                       "access plus 6 months"
    ExpiresByType font/truetype                       "access plus 6 months"
    # FLASH
    ExpiresByType application/x-shockwave-flash       "access plus 6 months"
    ExpiresByType video/x-flv                         "access plus 6 months"
    # OTHERS
    ExpiresByType application/pdf                     "access plus 6 months"
    ExpiresByType application/smil                    "access plus 6 months"
    ExpiresByType application/vnd.wap.wbxml           "access plus 6 months"
    ExpiresByType image/vnd.wap.wbmp                  "access plus 6 months"
    <IfModule headers_module>
      Header append Cache-Control "public"
    </IfModule>
  </IfModule>
</IfModule>

# vim: set ft=apache:
