# {{ ansible_managed }}
# localhost virtual host for server-status and other things for munin stats
<VirtualHost 127.0.0.1:80>
  ServerName localhost
  Require host localhost 127.0.0.1 ::1
  <IfModule mpm_itk_module>
    AssignUserID www-data www-data 
  </IfModule>
  <IfModule suexec_module>
    SuexecUserGroup www-data www-data 
  </IfModule>
  <IfModule mod_status.c>
    <Location /server-status>
      SetHandler server-status
    </Location>
  </IfModule>
  DocumentRoot "/var/www/localhost"
  <Directory "/var/www/localhost">
    Options +Indexes +SymlinksIfOwnerMatch -MultiViews -Includes -ExecCGI
    AllowOverride AuthConfig Indexes FileInfo Limit
    {% if apache_mods_enabled is defined and "php7.0" in apache_mods_enabled or "php7.2" in apache_mods_enabled or "php7.3" in apache_mods_enabled %}
    <IfModule php7_module>
      php_admin_value doc_root /var/www/localhost
      php_admin_value open_basedir /var/www/localhost/:/tmp/:/usr/share/php/
      <FilesMatch "\.ph(p3?|tml)$">
        SetHandler application/x-httpd-php
      </FilesMatch>
    </IfModule>
    {% endif %}
    {% if apache_mods_enabled is defined and "proxy_fcgi" in apache_mods_enabled %}
    # https://wiki.apache.org/httpd/PHP-FPM#Proxy_via_handler
    <IfModule proxy_fcgi_module>
      <IfModule setenvif_module>
        SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
      </IfModule>
      <FilesMatch "^ping|status$">                                                       
        SetHandler "proxy:unix:/run/php/php{{ apache_php_version }}-fpm.sock|fcgi://localhost/"
      </FilesMatch> 
      <FilesMatch "\.php$">
        <If "-f %{REQUEST_FILENAME}">
          SetHandler "proxy:unix:/run/php/php{{ apache_php_version }}-fpm.sock|fcgi://localhost/"
        </If>
      </FilesMatch>
    </IfModule>
    {% endif %}
  </Directory>
</VirtualHost>
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
