# {{ ansible_managed }}

<IfModule md_module>
  MDCertificateAgreement accepted
  MDContactEmail "{{ apache_server_admin }}"
  MDRenewMode always
  MDRequireHttps permanent
  MDStapleOthers on
  Protocols h2 h2c http/1.1 acme-tls/1
  ProtocolsHonorOrder On
  MDCheckInterval 1h
  MDPrivateKeys {{ apache_md_private_keys | join(' ') }}
  MDRenewWindow {{ apache_md_renew_window }}
</IfModule>

# vim: syntax=apache{# vim: syntax=jinja2 #}
