# {{ ansible_managed }}

<IfModule md_module>
  MDCAChallenges {{ apache_md_ca_challenges | join(' ') }}
  MDCertificateAgreement accepted
  MDContactEmail "{{ apache_server_admin }}"
  MDRenewMode always
  MDRequireHttps permanent
  # mod_http2 doesn't work with mpm_prefork
  <IfModule !mpm_prefork>
    Protocols h2 h2c http/1.1 acme-tls/1
  </IfModule>
  <IfModule mpm_prefork>
    Protocols http/1.1 acme-tls/1
  </IfModule>
  ProtocolsHonorOrder On
  # Let's Encrypt doesn't support stapling
  MDStapling off
  MDStapleOthers off
  # MDCheckInterval 1h
  # MDStaplingRenewWindow 6h
  # <IfModule ssl_module>
  #   SSLUseStapling on
  # </IfModule>
  MDPrivateKeys {{ apache_md_private_keys | join(' ') }}
  MDRenewWindow {{ apache_md_renew_window }}
</IfModule>

# vim: syntax=apache{# vim: syntax=jinja2 #}
