# {{ ansible_managed }}
# prefork MPM
# StartServers: number of server processes to start
# MinSpareServers: minimum number of server processes which are kept spare
# MaxSpareServers: maximum number of server processes which are kept spare
# MaxRequestWorkers: maximum number of server processes allowed to start
# MaxConnectionsPerChild: maximum number of requests a server process serves

<IfModule mpm_prefork_module>
        StartServers              5
        MinSpareServers           5
        MaxSpareServers           10
        MaxRequestWorkers         {{ apache_mpm_max_request_workers | default('150') }} 
        MaxConnectionsPerChild    {{ apache_mpm_max_connections_per_child | default ('0') }}
{% if "mpm_itk" in apache_mods_enabled %}
        # Fix for exim panic log issue with mod_itk
        LimitUIDRange 0 2000
{% endif %}

</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
