# {{ ansible_managed }}

# Deny Robots
<IfModule alias_module>
  Alias /robots.txt /var/www/html/robots.deny.txt
</IfModule>
# Nextcloud sets this header via the .htaccess file and it it is also
# set here then it results in two X-Robots-Tag headers
# <IfModule headers_module>
#   Header set X-Robots-Tag "none, noindex, nofollow"
# </IfModule>
<IfModule rewrite_module>
  # https://docs.phpmyadmin.net/en/latest/faq.html#faq1-42
  RewriteCond %{REQUEST_METHOD} !^(GET|POST)$ [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^(java|curl|wget).* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*(libwww-perl|curl|wget|python|nikto|wkito|pikto|scan|acunetix).* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*(winhttp|HTTrack|clshttp|archiver|loader|email|harvest|extract|grab|miner).* [NC,OR]
  RewriteCond %{HTTP_USER_AGENT} ^.*(AdsBot-Google|ia_archiver|Scooter|Ask.Jeeves|Baiduspider|Exabot|FAST.Enterprise.Crawler|FAST-WebCrawler|www\.neomo\.de|Gigabot|Mediapartners-Google|Google.Desktop|Feedfetcher-Google|Googlebot|heise-IT-Markt-Crawler|heritrix|ibm.com\cs/crawler|ICCrawler|ichiro|MJ12bot|MetagerBot|msnbot-NewsBlogs|msnbot|msnbot-media|NG-Search|lucene.apache.org|NutchCVS|OmniExplorer_Bot|online.link.validator|psbot0|Seekbot|Sensis.Web.Crawler|SEO.search.Crawler|Seoma.\[SEO.Crawler\]|SEOsearch|Snappy|www.urltrends.com|www.tkl.iis.u-tokyo.ac.jp/~crawler|SynooBot|crawleradmin.t-info@telekom.de|TurnitinBot|voyager|W3.SiteSearch.Crawler|W3C-checklink|W3C_Validator|www.WISEnutbot.com|yacybot|Yahoo-MMCrawler|Yahoo\!.DE.Slurp|Yahoo\!.Slurp|YahooSeeker).* [NC]
  RewriteRule .* - [F]
</IfModule>

# vim: syntax=apache
