# {{ ansible_managed }}
# WSH Settings for all sites

# Log formats
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedio
LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedioproxy
LogFormat "%I %O" bandwidth

# HTTP/2 https://httpd.apache.org/docs/trunk/mod/mod_http2.html
{% if apache_mods_enabled is defined and "http2" in apache_mods_enabled and "md" in apache_mods_enabled %}
Protocols h2 h2c http/1.1 acme-tls/1
ProtocolsHonorOrder On
{% elif apache_mods_enabled is defined and "http2" in apache_mods_enabled and "md" not in apache_mods_enabled %}
Protocols h2 h2c http/1.1 
ProtocolsHonorOrder Off
{% endif %}
# Let's Encrypt
# Alias "/.well-known/acme-challenge" "/var/www/html/.well-known/acme-challenge"
# Webarchitects HTML/CSS
Alias /wsh /var/www/wsh
Alias /wsh.shtml /var/www/wsh/wsh.shtml
# icons for directory index icons
Alias /icons /usr/share/apache2/icons
# env vars for the default index page, wsh.shtml
{% if apache_conf_enabled is defined and "phpmyadmin" in apache_conf_enabled %}
SetEnv PHPMYADMIN_DOMAIN "{{ inventory_hostname }}" 
SetEnv PHPMYADMIN_PATH "/phpmyadmin/"
{% elif phpmyadmin_domain is defined %}
SetEnv PHPMYADMIN_DOMAIN "{{ phpmyadmin_domain }}"
{% if phpmyadmin_path is defined %}
SetEnv PHPMYADMIN_PATH "{{ phpmyadmin_path }}"
{% else %}
SetEnv PHPMYADMIN_PATH "/"
{% endif %}
{% endif %}
{% if matomo_domain is defined %}
SetEnv PIWIK_DOMAIN "{{ matomo_domain }}"
{% endif %}
SetEnv HOME_DOMAIN "webarch.net"
SetEnv SITE_TITLE "Webarchitects Shared Hosting"
SetEnv STATIC_DIR "/wsh/"
SetEnv STATIC_TOP "top.shtml"
SetEnv STATIC_BOT "bot.shtml"
# default page title 
SetEnv PAGE_TITLE "Directory Listing"
SetEnv PAGE_DESC  ""
<Directory "/">
  Options SymlinksIfOwnerMatch
  AllowOverride None
  Require all denied
</Directory>
<Directory "/var/www/wsh">
  Options IncludesNoExec 
  DirectoryIndex wsh.shtml
  AddOutputFilter Includes shtml
  SSILegacyExprParser on 
  SSILastModified on 
  HeaderName /wsh/top.shtml
  ReadmeName /wsh/bot.shtml
  IndexOptions FancyIndexing VersionSort HTMLTable NameWidth=* DescriptionWidth=* 
  IndexOptions Charset=UTF-8 SuppressHTMLPreamble XHTML TrackModified IconsAreLinks
  IndexOptions SuppressDescription
  AllowOverride None
  Require all granted
  {%- if apache_mods_enabled is defined and "http2" in apache_mods_enabled %}
  <Files wsh.shtml>
    Header add Link "</wsh/webarch.css>;rel=preload;nopush"
    Header add Link "</wsh/lib/pure/0.6.0/pure-min.css>;rel=preload;nopush"
    Header add Link "</wsh/lib/pure/0.6.0/grids-responsive-min.css>;rel=preload;nopush"
    Header add Link "</wsh/webarch-print.css>;rel=preload;nopush"
    Header add Link "</wsh/favicon.ico>;rel=preload;nopush"
  </Files>
  {%- endif %}
  <IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault A1209600
    ExpiresByType text/html "now plus 5 minutes"
    ExpiresByType image/gif "access plus 1 years"
    ExpiresByType image/jpg "access plus 1 years"
    ExpiresByType image/jpeg "access plus 1 years"
    ExpiresByType image/png "access plus 1 years"
    ExpiresByType image/vnd.microsoft.icon "access plus 1 years"
    ExpiresByType image/x-icon "access plus 1 years"
    ExpiresByType image/ico "access plus 1 years"
    ExpiresByType application/javascript "now plus 1 week"
    ExpiresByType application/x-javascript "now plus 1 week"
    ExpiresByType text/javascript "now plus 1 week"
    ExpiresByType text/css "now plus 1 week"
  </IfModule>
  RedirectMatch 404 /\\.(svn|git|hg|bzr|cvs)(/|$)
</Directory>
<Directory "/var/www/html/.well-known">
  Options None
  AllowOverride None 
  ForceType text/plain
</Directory>
<Directory "/home/*/sites/*">
  DirectoryIndex wsh.shtml
  AddOutputFilter Includes shtml
  SSILegacyExprParser on 
  HeaderName /wsh/top.shtml
  ReadmeName /wsh/bot.shtml
  IndexOptions FancyIndexing VersionSort HTMLTable NameWidth=* DescriptionWidth=* 
  IndexOptions Charset=UTF-8 SuppressHTMLPreamble XHTML TrackModified IconsAreLinks
  IndexOptions SuppressDescription
</Directory>
ErrorDocument 400 /wsh/400.shtml
ErrorDocument 401 /wsh/401.shtml
ErrorDocument 403 /wsh/403.shtml
ErrorDocument 404 /wsh/404.shtml
ErrorDocument 405 /wsh/405.shtml
ErrorDocument 408 /wsh/408.shtml
ErrorDocument 410 /wsh/410.shtml
ErrorDocument 411 /wsh/411.shtml
ErrorDocument 412 /wsh/412.shtml
ErrorDocument 413 /wsh/413.shtml
ErrorDocument 414 /wsh/414.shtml
ErrorDocument 415 /wsh/415.shtml
ErrorDocument 500 /wsh/500.shtml
ErrorDocument 501 /wsh/501.shtml
ErrorDocument 502 /wsh/502.shtml
ErrorDocument 503 /wsh/503.shtml
ErrorDocument 506 /wsh/506.shtml

# The default virtual host for port 80
<VirtualHost *:80>
  ServerName {{ inventory_hostname }} 
  ServerAlias www.{{ inventory_hostname }}
  <IfModule mpm_itk_module>
    AssignUserID www-data www-data 
  </IfModule>
  <IfModule suexec_module>
    SuexecUserGroup www-data www-data 
  </IfModule>
  ServerAdmin support@webarch.net
  {%- if matomo_domain is defined %}
  SetEnv PIWIK_SITE_ID "1"
  SetEnv PIWIK_SITE_DOMAIN "{{ matomo_domain }}"
  {%- elif matomo_user is defined %}
  SetEnv PIWIK_SITE_ID "1"
  SetEnv PIWIK_SITE_DOMAIN "stats.{{ inventory_hostname }}"
  {%- endif %}
  DocumentRoot "/var/www/wsh"
{% if apache_conf_enabled is defined and "phpmyadmin" in apache_conf_enabled %}
  RedirectPermanent /phpmyadmin https://{{ inventory_hostname }}/phpmyadmin
{% elif phpmyadmin_domain is defined %}
{% if phpmyadmin_path is defined %}
  RedirectPermanent /phpmyadmin https://{{ phpmyadmin_domain }}{{ phpmyadmin_path }}
{% else %}
  RedirectPermanent /phpmyadmin https://{{ phpmyadmin_domain }}
{% endif %}
{% endif %}
  <IfModule ssl_module>
    RedirectMatch 301 ^(?!/\.well-known/acme-challenge/).* https://{{ inventory_hostname }}$0
  </IfModule>
  ErrorLog ${APACHE_LOG_DIR}/wsh-error.log
  LogLevel warn
  CustomLog ${APACHE_LOG_DIR}/wsh-access.log combined
</VirtualHost>

{% if "md" in apache_mods_enabled or apache_cert.stat.exists %}
  {%- if "md" in apache_mods_enabled %}
<IfModule md_module>
  <MDomain {{ inventory_hostname }}>
    MDStapling on
    MDRequireHttps permanent
    MDPrivateKeys rsa3072 secp384r1
    {%- if "rsa3072" not in apache_md_private_keys_present or "secp384r1" not in apache_md_private_keys_present %}
    MDCertificateFile /etc/ssl/le/{{ inventory_hostname }}.fullchain.pem
    MDCertificateKeyFile /etc/ssl/le/{{ inventory_hostname }}.key.pem
    {%- endif %}
    MDContactEmail "{{ apache_server_admin }}"
    MDCertificateAgreement accepted
  </MDomain>
</IfModule>
  {%- endif %}

# The default virtual host for port 443
<IfModule ssl_module>
<VirtualHost *:443>
  ServerName {{ inventory_hostname }} 
  ServerAlias www.{{ inventory_hostname }}
  <IfModule mpm_itk_module>
    AssignUserID www-data www-data 
  </IfModule>
  <IfModule suexec_module>
    SuexecUserGroup www-data www-data 
  </IfModule>
  ServerAdmin "{{ apache_server_admin }}"
  {%- if matomo_domain is defined %}
  SetEnv PIWIK_SITE_ID "1"
  SetEnv PIWIK_SITE_DOMAIN "{{ matomo_domain }}"
  {%- elif matomo_user is defined %}
  SetEnv PIWIK_SITE_ID "1"
  SetEnv PIWIK_SITE_DOMAIN "stats.{{ inventory_hostname }}"
  {%- endif %}
  SSLEngine on
  {%- if apache_md_private_keys_present is not defined or "rsa3072" not in apache_md_private_keys_present or "secp384r1" not in apache_md_private_keys_present %} 
  SSLCertificateFile    	/etc/ssl/le/{{ inventory_hostname }}.cert.pem
  SSLCertificateKeyFile 	/etc/ssl/le/{{ inventory_hostname }}.key.pem
  SSLCertificateChainFile   /etc/ssl/le/{{ inventory_hostname }}.ca.pem
  {%- endif %}
  <IfModule headers_module>
    Header set Strict-Transport-Security "max-age=63072000" env=HTTPS
  </IfModule>
  {# endif #}
  DocumentRoot "/var/www/wsh"
  <FilesMatch "\.shtml$">
    SSLOptions +StdEnvVars
  </FilesMatch>
  ErrorLog ${APACHE_LOG_DIR}/wsh-error.log
  LogLevel warn
  CustomLog ${APACHE_LOG_DIR}/wsh-ssl_access.log combined
  {% if apache_conf_enabled is defined and "phpmyadmin" in apache_conf_enabled %}
  # phpmyadmin log for fail2ban, see https://www.phryneas.de/fail2ban-phpmyadmin/
  LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %{userID}n %{userStatus}n" pma_combined
  CustomLog ${APACHE_LOG_DIR}/phpmyadmin_access.log pma_combined
  {% endif %}
</VirtualHost>
</IfModule>
{% endif %}
# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
